<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Details</title>
    <style>
        h1, h2 {
            text-align: center;
        }
        table, tr, th, td {
            border: 1px solid black;
        }
        tr, th, td {
            padding: 23px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Student Id : <%= data[0].sid %></h1>
    <h2>Name : <%= data[0].f_name %> <%= data[0].l_name %></h2>
    <table cellspacing="0">
        <tr>
            <th rowspan="2">Subject</th>
            <th colspan="3">Terminal</th>
            <th colspan="3">Prelim</th>
            <th colspan="3">Final</th>
            <th colspan="3">Total</th>
        </tr>
        <tr>
            <th>Theory</th>
            <th>Practical</th>
            <th>Total</th>
            <th>Theory</th>
            <th>Practical</th>
            <th>Total</th>
            <th>Theory</th>
            <th>Practical</th>
            <th>Total</th>
            <th>Theory</th>
            <th>Practical</th>
            <th>Total</th>
        </tr>
        <% var total=0 %>
        <% for(let i=0; i<6; i++) { %>
            <tr>
                <% if(i==0) { %>
                    <td>Data Structure</td>
                <% } else if(i==1) { %>
                    <td>Java</td>
                <% } else if(i==2) { %>
                    <td>Operating System</td>
                <% } else if(i==3) { %>
                    <td>Software Engineering</td>
                <% } else if(i==4) { %>
                    <td>Android Development</td>
                <% } else if(i==5) { %>
                    <td>Python Programming</td>
                <% } else { %>
                    <td>Invalid Subject</td>
                <% } %>

                <td><%= data[i+0].theory_obtain %></td>
                <td><%= data[i+0].prac_obtain %></td>
                <td><%= data[i+0].theory_obtain+data[i+0].prac_obtain %></td>

                <td><%= data[i+6].theory_obtain %></td>
                <td><%= data[i+6].prac_obtain %></td>
                <td><%= data[i+6].theory_obtain+data[i+6].prac_obtain %></td>

                <td><%= data[i+12].theory_obtain %></td>
                <td><%= data[i+12].prac_obtain %></td>
                <td><%= data[i+12].theory_obtain+data[i+12].prac_obtain %></td>

                <td><%= (data[i+0].theory_obtain+data[i+6].theory_obtain+data[i+12].theory_obtain) %></td>
                <td><%= (data[i+0].prac_obtain+data[i+6].prac_obtain+data[i+12].prac_obtain) %></td>
                <td><%= (data[i+0].theory_obtain+data[i+0].prac_obtain+data[i+6].theory_obtain+data[i+6].prac_obtain+data[i+12].theory_obtain+data[i+12].prac_obtain) %></td>
            </tr>
            <% total+=(data[i+0].theory_obtain+data[i+0].prac_obtain+data[i+6].theory_obtain+data[i+6].prac_obtain+data[i+12].theory_obtain+data[i+12].prac_obtain) %>
        <% } %>
    </table>
    <br><p style="font-size: 20px; padding: 0 40px;"><b>Percentage : <%= ((total/1200)*100).toFixed(2); %>%</b></p>
</body>
</html>