<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Pagging</title>
    <style>
        table, tr, th, td {
            border: 1px solid black;
        }
        tr, th, td {
            padding: 13px;
            text-align: center;
        }
        .parent {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0 100px;
        }
        .child {
            width: 20%;
        }
    </style>
</head>
<body>
    <form action="/show" method="post">
        <input type="text" placeholder="Enter Your Query" name="ip">&nbsp;&nbsp;&nbsp;
        <input type="submit" value="GO">
    </form><br><br>
    <div class="parent">
        <% if(no==1) { %>
        <div class="child">
            <a href="">
                <button disabled><<</button>
            </a>
        </div>
        <div class="child">
            <a href="">
                <button disabled><</button>
            </a>
        </div>
        <% } else { %>
            <div class="child">
                <a href="/move?id=home&ct=<%= ct %>&lmt=<%= lmt %>">
                    <button><<</button>
                </a>
            </div>
            <div class="child">
                <a href="/move?id=prev&ct=<%= ct %>&lmt=<%= lmt %>">
                    <button><</button>
                </a>
            </div>
        <% } %>
        <div class="child">
            <p><%= Number(no) %></p>
        </div>
        <% if(no==(result.length/5)) { %>
            <div class="child">
                <a href="">
                    <button disabled>></button>
                </a>
            </div>
            <div class="child">
                <a href="">
                    <button disabled>>></button>
                </a>
            </div>
        <% } else { %>
            <div class="child">
                <a href="/move?id=next&ct=<%= ct %>&lmt=<%= lmt %>">
                    <button>></button>
                </a>
            </div>
            <div class="child">
                <a href="/move?id=end&ct=<%= ct %>&lmt=<%= lmt %>">
                    <button>>></button>
                </a>
            </div>
        <% } %>
    </div>
    <table cellspacing="0">
        <tr>
            <% for(let i=0; i<fields.length; i++) { %>
                <th onclick="clk(`<%= fields[i].name %>`)"><%= fields[i].name %></th>
            <% } %>
        </tr>
        <% for(let i=ct; i<lmt && i<result.length; i++) { %>
            <tr>
                <% for(let j=0; j<fields.length; j++) { %>
                    <% if(fields[j].name == 'dob') { %>
                        <td><%= (result[i][fields[j].name]).toDateString() %></td>
                    <% } else { %>
                    <td><%= result[i][fields[j].name] %></td>
                    <% } %>
                <% } %>
            </tr>
        <% } %>
    </table>

    <script>
        function clk(name) {
            window.location.href=window.location.origin+`/short?order=asc&nm=${name}`;
        }
    </script>
</body>
</html>